<div class="user-load">
        <div class="main-text">
            <h1>NPR <span>@</span> ACM</h1>
            <p>ADMIN PAGE</p>
        </div>
</div>

<style>
   .user-load{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  
   }

   

   .user-load .main-text{
    color:aliceblue;
    
   }

  .user-load .main-text span{
    font-size: 46px;
  }
   .user-load .main-text h1{
    font-size: 54px;
    animation: 1s ani linear forwards;
   }

    @keyframes ani {
      30%{
         letter-spacing: 2px;
      }
     
      100%{
          letter-spacing: 4.2px;
          color:white;
          
      }

     
   }
</style>